@import "tailwindcss";

:root {
  --background: 15 23 42;
  --foreground: 226 232 240;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 23 42;
    --foreground: 226 232 240;
  }
}

body {
  background: rgb(15 23 42);
  color: rgb(226 232 240);
  font-family: Arial, Helvetica, sans-serif;
}
